.queries{
    display: flex;
    flex-flow: wrap;
}
.queryDiv{
    text-align: center;
    margin: 8px;
    background: #fff;
    border: solid black;
    border-color: black;
    float: left;
    border-width: 5px 3px 3px 5px;
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
    transform: rotate(2deg);
    background-color: floralwhite;
}
.QueryCard{
    color: #31708f;
    margin:15px;
    transform: rotate(-2deg);
}
.QueryTitle{
    font-size: x-large;
}
.QuerySubtitle{
    font-size: large;
}
.QueryText{
    font-size: smaller;
}
.QueryTest{
    transform: rotate(
        2deg
        );
            margin: 7px;
            padding: 3px 9px;
            float: right;
            background: #ddd;
            border: 1px solid #222;
            box-shadow: 3px 3px 0 #222;
}