.container{
  display: flex;
  margin-top:-6px;
}
.link{
  text-decoration: none;
  color:inherit;
}
.main{
  background-color: rgb(251,251,255);
}
.pageView{
  flex: 4;
  border-left: 2px #519bbd solid;
  padding-left: 6px;
}